:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  height: 100vh;
  background-color: #E7E3EB;
}

.header {
  padding: 15px 20px;
  background-color: #c4bfca;
  h1{
    color: rgb(78, 45, 45);
  }
}

