:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin-top: 0;
  height: 100%;
  width: 100%;
}